<div class="wrap gdh-email-settings">
	<h1>Paramètres des e-mails</h1>

	{% if show_saved_notice %}
		<div class="notice notice-success is-dismissible">
			<p>Paramètres e-mail enregistrés.</p>
		</div>
	{% endif %}


	<form method="post" action="{{ admin_post_url }}">
		<input type="hidden" name="action" value="gdh_save_email_settings"/>
		{{ nonce_field|raw }}

		<table class="form-table gdh-two-col" role="presentation">
			<tbody>
				<tr>
					<td>
						{% include 'admin/mail/partials/artisan-mail.twig' %}
					</td>
					<td>
						{% include 'admin/mail/partials/confirmation-mail.twig' %}
					</td>
				</tr>
			</tbody>
		</table>
		<p class="submit">
			<button type="submit" class="button button-primary">Enregistrer le template</button>
		</p>
	</form>


</div>
