<div class="gdhrdv-rdv-form-actions">
	<div>
		<button type="button" class="gdhrdv-rdv-btn gdhrdv-rdv-btn-secondary gdhrdv-rdv-prev" style="display: none;">
			Précédent
		</button>
	</div>
	<div>
		<button type="button" class="gdhrdv-rdv-btn gdhrdv-rdv-btn-primary gdhrdv-rdv-next">
			Suivant
		</button>
	</div>
	<div>
		<button type="submit" class="gdhrdv-rdv-btn gdhrdv-rdv-btn-primary gdhrdv-rdv-submit" style="display: none;">
			Envoyer la demande
		</button>
	</div>
</div>
