<div class="gdh-rdv-form-actions">
	<div>
		<button type="button" class="gdh-rdv-btn gdh-rdv-btn-secondary gdh-rdv-prev" style="display: none;">
			Précédent
		</button>
	</div>
	<div>
		<button type="button" class="gdh-rdv-btn gdh-rdv-btn-primary gdh-rdv-next">
			Suivant
		</button>
	</div>
	<div>
		<button type="submit" class="gdh-rdv-btn gdh-rdv-btn-primary gdh-rdv-submit" style="display: none;">
			Envoyer la demande
		</button>
	</div>
</div>
