<style>
	.gdh-address-field {
		margin-bottom: 12px;
	}
	.gdh-address-field label {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
		font-size: 12px;
	}
	.gdh-address-field input {
		width: 100%;
		padding: 6px;
	}
</style>

<div class="gdh-address-field">
	<label for="gdh_address">Adresse</label>
	<input type="text" id="gdh_address" name="gdh_address" value="{{ address }}" readonly>
</div>

<div class="gdh-address-field">
	<label for="gdh_postal_code">Code postal</label>
	<input type="text" id="gdh_postal_code" name="gdh_postal_code" value="{{ postal_code }}" readonly>
</div>

<div class="gdh-address-field">
	<label for="gdh_city">Ville</label>
	<input type="text" id="gdh_city" name="gdh_city" value="{{ city }}" readonly>
</div>
