<style>
	.gdhrdv-address-field {
		margin-bottom: 12px;
	}
	.gdhrdv-address-field label {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
		font-size: 12px;
	}
	.gdhrdv-address-field input {
		width: 100%;
		padding: 6px;
	}
</style>

<div class="gdhrdv-address-field">
	<label for="gdhrdv_address">Adresse</label>
	<input type="text" id="gdhrdv_address" name="gdhrdv_address" value="{{ address }}" readonly>
</div>

<div class="gdhrdv-address-field">
	<label for="gdhrdv_postal_code">Code postal</label>
	<input type="text" id="gdhrdv_postal_code" name="gdhrdv_postal_code" value="{{ postal_code }}" readonly>
</div>

<div class="gdhrdv-address-field">
	<label for="gdhrdv_city">Ville</label>
	<input type="text" id="gdhrdv_city" name="gdhrdv_city" value="{{ city }}" readonly>
</div>
